<h2>Live updates for <%= location.name %></h2>
<% if (media.length==0) { %>
  <p class="help">There have been no recent photos posted, hang around long enough and one may appear.</p>
<% } else { %>
  <p class="help">Updates will appear here as soon as they are posted on Instagram.</p>  
<% }%>
<ul class="append-live-data" data-subscription="channel:locations:<%= location.id %>">
<% for(var i=0; i<media.length; i++) { %>
  <li id="media-<%= media[i].id %>"><a href="<%= media[i].link %>"><img src="<%= media[i].images.standard_resolution.url %>" /></a></li>
<% } %>
</ul>